<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>File Upload</title>
</head>
<body>

<h3>Upload file</h3>
<form method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Select File</td>
            <td><input type="file" name="file"/></td>
            <td><button type="submit">Upload</button></td>
        </tr>
    </table>
</form>

<br/>
<hr />
<a href="/file">Recently uploaded file</a>
</body>
</html>